<table *ngIf="character?.stats">
  <thead>
    <tr>
      <th>Stat</th>
      <th>Value</th>
      <th>Bonus</th>
      <th>Power Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Strength</td>
      <td>{{character.stats.strength.value}}</td>
      <td>{{character.stats.strength.value | stat}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Agility</td>
      <td>{{character.stats.agility.value}}</td>
      <td>{{character.stats.agility.value | stat}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Constitution</td>
      <td>{{character.stats.constitution.value}}</td>
      <td>{{character.stats.constitution.value | stat}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Intelligence</td>
      <td>{{character.stats.intelligence.value}}</td>
      <td>{{character.stats.intelligence.value | stat}}</td>
      <td>{{character.stats.intelligence.value | powerPoint}}</td>
    </tr>
    <tr>
      <td>Intuition</td>
      <td>{{character.stats.intuition.value}}</td>
      <td>{{character.stats.intuition.value | stat}}</td>
      <td>{{character.stats.intuition.value | powerPoint}}</td>
    </tr>
    <tr>
      <td>Presence</td>
      <td>{{character.stats.presence.value}}</td>
      <td>{{character.stats.presence.value | stat}}</td>
      <td></td>
    </tr>
    <tr>
      <td>Appearance</td>
      <td>{{character.stats.appearance.value}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<button (click)="generate()">Spank the monkey!</button>
<br/>
{{character | json}}
